APP_NAME = data-connector
APP_PORT = 3000
APP_LOG_LEVEL = debug

DB_NAME = connector
DB_HOST = localhost
DB_PORT = 5432
DB_USERNAME = postgres
DB_PASSWORD = root

MINIO_ENDPOINT=dataspace.airedgio50.s5projects.eu
MINIO_PORT=19000
MINIO_ACCESS_KEY=participant1admin
MINIO_SECRET_KEY=5bwShvjaA7YWNfPEc8XGay


KC_URL = http://localhost:9090
KC_REALM = connector
KC_CLIENT_ID = local-connector
KC_CLIENT_SECRET = SUITE
BUCKET_NAME = YOUR_BUCKET_NAME


CLOUD_CATALOG_URL = https://dataspace.airedgio50.s5projects.eu/